.person{
    position: absolute;
    box-sizing: border-box;
    width: 78%;
    background-color: #fff;
    padding: 20px 0 0 50px;
    &__title{
        font-size: 24px;
        font-weight: 700;
        width: 300px;
        margin-bottom: 10px;
    }
}